@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    background-color: #888888;
    font-family: Inter;
}

/* -----------App------------------- */
.container {
    width: 500px;
    margin: 2em auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 10px #fff;
    border: 1px solid #F5F5F5;
}

.navbar--container{
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1.5em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.navbar--image {
    height: 30px;
    width: 30px;
    margin: 0 1em;
}
/* -------------Trips----------- */
.trips--container {
    max-height: 200px;
    display: flex;
    gap: 1em;
    padding: 1em 40px;
}
.trips--border-bottom{
    border: .1px solid #F5F5F5;
    /* width: 80%; */
    margin: 0 2.5em;
}
.trips--image {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
}
.trips--map {
    display: flex;
    justify-items: space-evenly;
    align-items: baseline;
    margin-top: .5em;
    margin-bottom: 0;
}
.trips--map--image {
    height: 10px;
    width: 10px;
}
.trips--map p{
    font-size: .9rem;
    font-size: 10.24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2B283A;
}

.trips--map a {
    color: #918E9B;
    font-size: 10.24px;
    font-weight: 400;
    margin: 0 1em;
}
.trips--title {
    color: #2B283A;
    font-size: 25px;
    margin: -5px 0 .6em;
}
.trips--dates {
    font-size: 10.24px;
    font-weight: 700;
}
.trip--description {
    font-size: 10.24px;
    line-height: 15px;
    color: #2B283A;
    font-weight: 400;
    /* width: 326px; */
}